In [1]:
import pandas as pd
import sqlite3


colnames = ["id", "name", "good_with", "good_against"]
data = pd.read_csv("data.csv", names=colnames)

In [2]:
create_hero = """
CREATE TABLE HEROES (
    hero_id INTEGER PRIMARY KEY AUTOINCREMENT,
    hero_name TEXT NOT NULL,
    hero_main_attr TEXT NOT NULL,
    hero_image TEXT,
    external_hero_id INTEGER NOT NULL
);
"""

create_synergy_with = """
CREATE TABLE SYNERGY_WITH (
    syn_id INTEGER PRIMARY KEY AUTOINCREMENT,
    hero_id_1 INTEGER NOT NULL,
    hero_id_2 INTEGER NOT NULL
);
"""

create_synergy_against = """
CREATE TABLE SYNERGY_AGAINST (
    syn_id INTEGER PRIMARY KEY AUTOINCREMENT,
    hero_id_1 INTEGER NOT NULL,
    hero_id_2 INTEGER NOT NULL
);
"""

insert_hero = """
INSERT INTO HEROES (
    hero_name,
    hero_main_attr,
    hero_image,
    external_hero_id
) VALUES
{};
"""

insert_syn_1 = """
INSERT INTO SYNERGY_WITH (
    hero_id_1,
    hero_id_2
) VALUES
{};
"""

insert_syn_2 = """
INSERT INTO SYNERGY_AGAINST (
    hero_id_1,
    hero_id_2
) VALUES
{};
"""

In [3]:
insert_data = []
insert_syn_data_1 = []
insert_syn_data_2 = []

for _, row in data.iterrows():
    insert_data.append(
        "('{}', '{}', '{}', {})".format(
            row["name"].replace("%27", ""),
            "MISSING",
            "MISSING",
            row["id"]
        )
    )

    try:
        gw = row["good_with"].split("|")
    except AttributeError:
        gw = []

    for g_id in gw:
        if g_id == "nan":
            continue
        insert_syn_data_1.append("({}, {})".format(row["id"], g_id))
        insert_syn_data_1.append("({}, {})".format(g_id, row["id"]))

    try:
        ga = row["good_against"].split("|")
    except AttributeError:
        ga = []

    for g_id in ga:
        if g_id == "nan":
            continue
        insert_syn_data_2.append("({}, {})".format(row["id"], g_id))

query_0 = insert_hero.format(
    ",\n".join(insert_data)
)
query_1 = insert_syn_1.format(
    ",\n".join(insert_syn_data_1)
)
query_2 = insert_syn_2.format(
    ",\n".join(insert_syn_data_2)
)

In [4]:
conn = sqlite3.connect("hero_database.db")
c = conn.cursor()

c.execute(create_hero)
c.execute(create_synergy_with)
c.execute(create_synergy_against)

c.execute(query_0)
c.execute(query_1)
c.execute(query_2)

conn.commit()
conn.close()

In [5]:
conn = sqlite3.connect("hero_database.db")
c = conn.cursor()

c.execute(
    """
    SELECT * 
    FROM HEROES
    WHERE hero_name = 'Puck'
    """
)

for bla in c:
    print(bla)

(50, 'Puck', 'MISSING', 'MISSING', 50)

In [8]:
c.execute(
    """
    SELECT hero_id_1 as h
    FROM SYNERGY_WITH 
    WHERE hero_id_2 = 50
    
    UNION
    
    SELECT hero_id_2 as h
    FROM SYNERGY_WITH 
    WHERE hero_id_1 = 50
    """
)

stuff = [a[0] for a in c]

print(stuff)

[1, 14, 20, 21, 28, 35, 37, 41, 64, 66, 72, 85, 93, 102]

In [7]:
c.execute(
    """
    SELECT hero_id_2 as h
    FROM SYNERGY_AGAINST 
    WHERE hero_id_1 = 50
    """
)

stuff = [a[0] for a in c]

print(stuff)

[99, 76, 102]

In [2]:
conn = sqlite3.connect("hero_database.db")
c = conn.cursor()

In [4]:
c.execute(
    """
    SELECT * 
    FROM HEROES
    """
)

for a, b, _, _, _ in c:
    print(f"Hero: {b}, ID: {a}")

Hero: Sven, ID: 1
Hero: Earthshaker, ID: 2
Hero: BeastMaster, ID: 3
Hero: Dragon_Knight, ID: 4
Hero: Huskar, ID: 5
Hero: Alchemist, ID: 6
Hero: Io, ID: 7
Hero: Centaur_Warrunner, ID: 8
Hero: Tusk, ID: 9
Hero: Elder_Titan, ID: 10
Hero: Undying, ID: 11
Hero: Magnus, ID: 12
Hero: Spirit_Breaker, ID: 13
Hero: Doom, ID: 14
Hero: Tidehunter, ID: 15
Hero: Wraith_King, ID: 16
Hero: Pudge, ID: 17
Hero: Axe, ID: 18
Hero: Phoenix, ID: 19
Hero: Drow_Ranger, ID: 20
Hero: Anti-Mage, ID: 21
Hero: Morphling, ID: 22
Hero: Phantom_Lancer, ID: 23
Hero: Sniper, ID: 24
Hero: Templar_Assassin, ID: 25
Hero: Ursa, ID: 26
Hero: Gyrocopter, ID: 27
Hero: Troll_Warlord, ID: 28
Hero: Ember_Spirit, ID: 29
Hero: Nyx_Assassin, ID: 30
Hero: Slark, ID: 31
Hero: Weaver, ID: 32
Hero: Broodmother, ID: 33
Hero: Faceless_Void, ID: 34
Hero: Phantom_Assassin, ID: 35
Hero: Shadow_Fiend, ID: 36
Hero: Bloodseeker, ID: 37
Hero: Arc_Warden, ID: 38
Hero: Shadow_Demon, ID: 39
Hero: Outworld_Devourer, ID: 40
Hero: Dark_Seer, ID: 41
Hero: Batrider, ID: 42
Hero: Pugna, ID: 43
Hero: Death_Prophet, ID: 44
Hero: Enigma, ID: 45
Hero: Necrophos, ID: 46
Hero: Lich, ID: 47
Hero: Bane, ID: 48
Hero: Dark_Willow, ID: 49
Hero: Puck, ID: 50
Hero: Crystal_Maiden, ID: 51
Hero: Lina, ID: 52
Hero: Skywrath_Mage, ID: 53
Hero: Zeus, ID: 54
Hero: Silencer, ID: 55
Hero: Natures_Prophet, ID: 56
Hero: Ogre_Magi, ID: 57
Hero: Enchantress, ID: 58
Hero: Keeper_of_the_Light, ID: 59
Hero: Tiny, ID: 60
Hero: Kunkka, ID: 61
Hero: Clockwerk, ID: 62
Hero: Omniknight, ID: 63
Hero: Brewmaster, ID: 64
Hero: Treant_Protector, ID: 65
Hero: Timbersaw, ID: 66
Hero: Bristleback, ID: 67
Hero: Legion_Commander, ID: 68
Hero: Earth_Spirit, ID: 69
Hero: Sand_King, ID: 70
Hero: Slardar, ID: 71
Hero: Lifestealer, ID: 72
Hero: Lycan, ID: 73
Hero: Chaos_Knight, ID: 74
Hero: Abaddon_1, ID: 75
Hero: Underlord, ID: 76
Hero: Juggernaut, ID: 77
Hero: Mirana, ID: 78
Hero: Vengeful_Spirit, ID: 79
Hero: Riki, ID: 80
Hero: Luna, ID: 81
Hero: Bounty_Hunter, ID: 82
Hero: Lone_druid, ID: 83
Hero: Naga_siren, ID: 84
Hero: Monkey_King, ID: 85
Hero: Pangolier, ID: 86
Hero: Razor, ID: 87
Hero: Venomancer, ID: 88
Hero: Viper, ID: 89
Hero: Clinkz, ID: 90
Hero: Spectre, ID: 91
Hero: Meepo, ID: 92
Hero: Medusa, ID: 93
Hero: Terrorblade, ID: 94
Hero: Storm_Spirit, ID: 95
Hero: Windranger, ID: 96
Hero: Shadow_Shaman, ID: 97
Hero: Tinker, ID: 98
Hero: Jakiro, ID: 99
Hero: Chen, ID: 100
Hero: Rubick, ID: 101
Hero: Disruptor, ID: 102
Hero: Oracle, ID: 103
Hero: Techies, ID: 104
Hero: Lion, ID: 105
Hero: Witch_Doctor, ID: 106
Hero: Warlock, ID: 107
Hero: Queen_of_Pain, ID: 108
Hero: Dazzle, ID: 109
Hero: Leshrac, ID: 110
Hero: Ancient_Apparition, ID: 111
Hero: Invoker, ID: 112
Hero: Visage, ID: 113
Hero: Winter_Wyvern, ID: 114
Hero: Night_Stalker, ID: 115